$platinum: #ebe8e9;
$pink: #f2ddd2;
$gold: #d6ccad;
$lightgreen: #8fcda3;
$darkgreen: #0e3e36;

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

.hidden { 
    display:none; 
}

.rapper {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    @media (max-width: 800px) {
        width: 90%;
    }
}

@mixin flexer {
    display: flex;
    align-items: center;
    justify-content: center;
}

